footer{
    font-family: 'Sofia';
	height: auto;
	background-color: #ddd;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.35);
	position : absolute;
    bottom : 0;
    height : auto;
    width: 100vw;
}

#foot{
    margin-top: 2vh;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    color: #111;
}

#heart{
    color: red;
}

#nameLink{
    text-decoration: none;
    color: brown;
}