html,body{
	margin: 0;
	padding: 0;
	font-family: Georgia, Helvetica, 'sans-serif';
}

li{
	list-style-type: none;
}

.container{
	width: 43vw;
	height: auto;
}

.card{
	padding: 0px;
	height: auto;
}

.liClass{
	margin-top: 20px;
	margin-bottom: 20px;
 	overflow: auto; 
}

.no-listings{
	padding: 10px;
	font-size: 1.5em;
	margin-top: 10vh;
	text-align: center;
	max-width: 30vw;
	margin-left: 35vw; 
}

.userBoxClass{
	padding: 20px;
	width: 40%;
	margin-left: 26%;
	margin-bottom: 25px;
}

.userNameDisp{
	font-size: 25px;
}

.userBtn{
	float: right;
	margin: 5px;
}

.btn-brown{
	background: #645045;
	color: white;
}