html,body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	background-color: #e9e9e9;
}

.title{
	text-align: center;
	font-family: 'Sofia';
	letter-spacing: 0.4em;
	font-size: 4em;
	padding: 5px;
}

#loginTitle{
	text-align: center;
	font-family: 'Sofia';
	letter-spacing: 0.4em;
	font-size: 30px;
	padding: 5px;
	padding-bottom: 0px;
	margin-top: 20px;
}

#errMsg{
    overflow: auto;
    background: red;
    margin-top: 10px;
    letter-spacing: 0.1em;
    font-size: 15px;
    width: 16vw;
    padding: 3px;
    margin-left: 3.3vw;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#usernameIn{
	font-family: 'Trebuchet MS';
	letter-spacing: 0.1em;
	font-size: 20px;
}

#passIn{
	font-family: 'Trebuchet MS';
	letter-spacing: 0.1em;
	font-size: 20px;
}

#submitIn{
	letter-spacing: 0.3em;
	font-size: 20px;
}

.options{
	margin-top: 10vh;
}

.text{
	font-family: 'Sofia';
	font-size: 1.2em;
	margin-left: 40vw;
}

#signupb{
	letter-spacing: 0.3em;
	font-size: 17px;
	min-width: 7vw;
}

.tagline{
    margin-top: 2%;
    text-align: center;
    font-family: 'Comic Sans MS';
    letter-spacing: 0.2em;
    font-size: 1.8em;
    padding: 5px;
    margin-bottom: 2%;
    color: darkred;
}

#taglineImg{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}