html,body{
	margin: 0;
	padding: 0;
	font-family: 'Sofia';
	background-color: #e9e9e9;
}

.title{
	text-align: center;
	font-family: 'Sofia';
	letter-spacing: 0.4em;
	font-size: 4em;
	padding: 5px;
}

#loginTitle{
	text-align: center;
	font-family: 'Sofia';
	letter-spacing: 0.4em;
	font-size: 2.5em;
	padding: 5px;
	padding-bottom: 0px;
}

#errMsg{
    overflow: auto;
    background: red;
    margin-top: -10px;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    margin-left: 42.2vw;
    width: 14vw;
    padding: 3px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#usernameIn{
	height: 20px;
	border-radius: 3px;
	margin: 10px;
	font-family: 'Trubuchet MS';
	letter-spacing: 0.1em;
	font-size: 1.3em;
	margin-left: 42.6vw;
}

#passIn{
	height: 20px;
	border-radius: 3px;
	margin: 10px;
	font-family: 'Trubuchet MS';
	letter-spacing: 0.1em;
	font-size: 1.3em;
	margin-left: 42.6vw;
}

#submitIn{
	margin-top: 1%;
	border-radius: 3px;
	font-family: 'Sofia';
	letter-spacing: 0.3em;
	font-size: 1.1em;
	margin-left: 46.6vw;
	min-width: 7vw;
}

.options{
	margin-top: 10vh;
}

.text{
	font-family: 'Sofia';
	font-size: 1.2em;
	margin-left: 40vw;
}

#signupb{
	border-radius: 3px;
	font-family: 'Sofia';
	letter-spacing: 0.3em;
	font-size: 1em;
	min-width: 7vw;
}
