html,body{
	margin: 0;
	padding: 0;
	font-family: 'Georgia', 'Helvetica', 'sans-serif';
}

li{
	list-style-type: none;
}

.container-card{
	width: 43vw;
	height: auto;
}

.card{
	padding: 0px;
	height: auto;
}

.btn-custom{
	background: #2196F3;
}

.btnsDiv{
	margin-top: 30px;
}

.card-btn{
	font-size: 14px;
	margin: 10px;
}

.content-editable{
	background: #fff;
	border-style: solid;
	border-color: #00BCD4;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
}